.App {
  background-color: rgb(255, 207, 117);
  width: 100vw;
  height: 100vh;  
  overflow: hidden;
}

.nav {
  background-color: rgb(255, 207, 117);
  margin: 10px 70px 10px 70px;
}

.Title {
  text-align: Left;
  color: rgb(119, 117, 117);
  display:flex;  
}

.Logo {
  width:100px;
}
.userContainer {
  background-color: rgb(117, 208, 224); 
  /* margin: 10px 70px 10px 70px;  */
  padding: 5px 15px 5px 15px;
}

.taskContainer {  
  display:grid;
  grid-auto-columns: 1fr;
  grid-template-rows: 450px 450px 450px;
  grid-template-columns: repeat(3, 1fr);
  padding:30px 0 10px 0;
  grid-column-gap: 40px;
  margin:5px 70px 10px 70px;  
}


.statusTitle {
  text-align: center;  
}

.tasks{
  background-color: rgb(92, 18, 18);
  display:grid; 
  grid-template-rows: 70px;
  margin: 17px;
  border-radius: 20px;
}

.taskTitle {
  color:white;
  font-size: 17px;
  padding: 5px 10px 10px 20px;  
}

.create-Button {
  font-size: 18px;
  background-color: rgb(204, 203, 203);
  border-radius: 10px;
  margin: 20px;
  
}

.Show {
  display:grid;
  padding:30px 0 10px 0;
  grid-column-gap: 40px;
  margin:5px 70px 10px 70px; 
}

.ShowTitle {
  background-color: brown;
  padding: 20px;
  width: 200px;
  border-radius: 10px;
  color:white;
}

.ShowDescription{
  background-color:rgb(201, 201, 201);
  width: 500px;
  height: 500px;
}

.DatesStatus{

}

.Edit{

}

.Delete{

}
